@use '../../styles/mixins' as mixins;

.mat-toolbar {
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      padding-left: 1rem;
      @include mixins.a-no-underline-hover-bold();
    }
  }
}
