/* You can add global styles to this file, and also import other style files */
:root {
  --layout-grid-width: 101.5rem;
  --layout-grid-columns: 12;
  --layout-header-mobile-height: 57px;
  --layout-header-web-height: 65px;
}
html,
body {
  height: 100vh;
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

@supports (height: 100svh) {
  html,
  body {
    height: 100svh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
